 ul,ol{list-style: none;}
 *{margin: 0;padding: 0;}
 
 body{
     
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
/*阿里巴巴图标引用*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#canvas {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left:0;
    border:1px solid red;
}
#box {
     position: fixed;
     top: 0;
     left: 0;
     padding: 15px;
 }
#box >svg{
    width: 1.5em;
    height: 1.5em;
    margin: 10px;
    transition: all 0.5s;
}

#box>svg.active{
    transform: scale(1.5);
}
/*画笔颜色*/
.color{
    position: fixed;
    left: 20px;
    top: 68px;
    padding: 2px;
}
.color > li{
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
}
.color>li.active{
    -webkit-box-shadow: 0px 0px 1px 2px rgba(117, 104, 117, 0.54);
    box-shadow: 0px 0px 1px 2px rgba(117, 104, 117, 0.54);
    transform: scale(1.2);
}
li.black {
    background: black;
}
li.red{
    background: red;
}
li.yellow {
    background: yellow;
}
li.blue {
    background: blue;
}
/*线宽*/
#widthBox {
    position: fixed;
    left: 33px;
    bottom: 20px;
}
#widthBox>label{vertical-align: top}
